button{
    margin-top: 20px;
    cursor: pointer;
    height: 50px;
    width: 75px;
    background-color: black;
    color: honeydew;
    border: yellow solid 1px;
    border-radius: 4px;
    font-weight: bold;
    z-index:99999999;
    outline: none;
    transition: 1.5s;
}
button:hover{
    background-color: whitesmoke;
    color: black;
    border: yellow  dashed 3px;
    transition: 0.3s;
}
#menuTopo{
    width: 100%;
    height: 7%;
    margin: 0 auto;
    z-index: 1;
}
#botaoInicio{
    margin-left: 75%;
}
#botaoUsuarios{
    margin: 10px;
}