@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,500;1,100;1,200&display=swap');

button{
    margin-left: 1290px;
    margin-top: 20px;
    cursor: pointer;
    height: 50px;
    width: 75px;
    background-color: black;
    color: honeydew;
    border: yellow solid 1px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    z-index:99999999;
    outline: none;
    transition: 1.5s;
}
button:hover{
    background-color: whitesmoke;
    color: black;
    border: yellow  dashed 3px;
    transition: 0.3s;
}
#menuTopo{
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 7%;
    margin: 0 auto;
    z-index: 1;
}
#botaoUsuarios{
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    margin: 10px;
    z-index:99999999;
    transition: 0.5s;
}